@using GameStore.Domain.BusinessObjects;

@model PublishedDateCriteria

<select id="publishedDateCriteria" , name="publishedDateCriteria">
    @foreach (PublishedDateCriteria item in Enum.GetValues(typeof(PublishedDateCriteria)))
    {
        <option value="@item" @(Model == item ? "selected=\"selected\"" : "")>
            @item
        </option>
    }
</select>

