@using GameStore.Domain.BusinessObjects;

@model SortCriteria

<select id="SortCriteria" , name="SortCriteria">
    @foreach (SortCriteria item in Enum.GetValues(typeof(SortCriteria)))
    {
        <option value="@item" @(Model == item ? "selected=\"selected\"" : "")>
            @Resources.ResourceManager.GetString(item.ToString())
        </option>
    }
</select>

