body {

}

* {
    margin: 0;
    padding: 0;
}

.comment {
    margin-left: 20px;
}

ul {
    list-style-type: none;
}

textarea {
    margin-top: 5px;
}

.table {
    border: 1px black solid;
    border-collapse: collapse;
}

.table tr,.table td, .table th {
    border: 1px black solid;
}

label {
    font-weight: bold;
}

.left {
    float: left;
}

.right {
    float: right;
}

.main {
    clear: both;
}

.mynavbar {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}   

.header div {
    width: 20%
}

.form {
    display: inline;
}

.game{
    border: 1px dashed black;
    margin-bottom:5px;
    display: inline-block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.mynavbar .quantityGames{
    display:inline-block;
}

.name{
    color: #999;
    margin-top: 15px;
    margin-right: 5px;
}

.form-group label {
    margin-top: 5px;
}
