﻿@using System.Web.Mvc.Html
@model GameViewModel

@{
    ViewBag.Title = "GetGameDetails";
}

<h2>GetGameDetails</h2>

@Html.Partial("_GameDetails", Model)

@Html.ActionLink("download", "download", new {gamekey =  Model.Key}, new { target = "blank"})
@Html.ActionLink("show comments", "comments", "comment", new { gamekey = Model.Key }, new { target = "blank" })

@using (@Html.BeginForm("buy", "order", new { gamekey = Model.Key }, FormMethod.Post, new { @class = "form"}))
{
    <input type="submit" value="Buy"/>   
}

