@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="name">Hello @User.Identity.Name!</li>
        <li><a href="@Url.Action("LogOff","Account")"><span class="glyphicon glyphicon-log-out"></span><span>Sign out</span></a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-user"></span><span>Sign Up</span></a></li>
        <li><a href="@Url.Action("Login","Account")"><span class="glyphicon glyphicon-log-in"></span><span>Sign In</span></a></li>
    </ul>
}
