@model CompletionStatus

<select id="orderViewModel.Status" , name="model.Status">
    @foreach (CompletionStatus item in Enum.GetValues(typeof(CompletionStatus)))
    {
        <option value="@item" @(Model == item ? "selected=\"selected\"" : "")>
            @Resources.ResourceManager.GetString(item.ToString())
        </option>
    }
</select>

