@model UserViewModel

@{
    ViewBag.Title = Resources.Details;
}

<h2>@Resources.Details</h2>

<div>
    @Html.DisplayForModel()
</div>
<p>
    @Html.ActionLink(Resources.Edit, "Edit", new { key = Model.Login }) |
    @Html.ActionLink(Resources.Back, "GetUsers")
</p>
