@model OrderViewModel

@{
    ViewBag.Title = "busket";
}

<h2>busket</h2>
@Html.ValidationSummary()
@Html.Partial("order", Model)


@using (Html.BeginForm("pay", "order"))
{
    @Html.Hidden("orderId", Model.Id)
    <input type="submit" value="Pay" />
}
